* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  background-color: #fff7ed;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

nav {
  background-color: #fff7ed;
  height: 111.62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

nav > a {
  text-decoration: none;
}

.links-container {
  /* display: flex;
    gap: 20px; */
  width: 116.61px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
  font-size: 25px;
}

.nav-link {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  font-size: 16px;
}

nav a:hover {
  color: #161616;
  text-decoration: underline;
}

/* homepage styles */

.home-container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("./assets/images/home-hero.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 350px;
  color: #fff;
  padding: 45px 23px;
}

.home-container > h1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home-container p {
  line-height: 25px;
}

.home-container a {
  display: inline-block;
  color: #fff;
  border: none;
  font-weight: 700;
  text-decoration: none;
  background-color: #ff8c38;
  border-radius: 5px;
  padding-block: 0.75rem;
  margin-top: 27px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.home-container a:hover {
  transform: translate(1px, 1px);
}

/* about page styles */

.about-hero-img {
  max-width: 100%;
}

.about-content {
  padding: 0 27px;
}

.about-box {
  background-color: #ffcc8d;
  padding: 32px 27px;
  border-radius: 10px;
}

.about-box h2 {
  line-height: 30px;
  padding-bottom: 20px;
}

.about-btn {
  background-color: #161616;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 0.75rem 1.375rem;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.about-btn:hover {
  transform: translate(1px, 1px);
}

/*** VAN PAGES ***/
.van-list-container {
  padding-inline: 23px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

/* VAN PAGE DETAILS */

.van-detail-container {
  padding: 30px;
}

.van-detail {
  display: flex;
  flex-direction: column;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 50px;
}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.rental-btn {
  background-color: #ff8c38;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 10px 20px;
  border-radius: 5px;
}
